<div class="container" style="display: grid; grid-template-columns: 250px 200px 200px 200px 200px; grid-column-gap: 20px; text-align: center">
  <div style="height: 300px; background-color: #5075FF; border: 1px solid gray; border-radius: 10px">
    <h2 style="color: white; font-weight: bold">¿Por qué escogernos?</h2>
    <p style="color: white">En Seguimed estamos especializados en hacer seguimiento desde tu primera cita hasta el momento en que nos
    necesites.</p>
  </div>
  <div style="color: #5075FF; border: 1px solid gray; border-radius: 10px; ">
    <h2 style="font-weight: bold">Astrid Carolina Díaz Gómez</h2>
  </div>
  <div style="color: #5075FF; border: 1px solid gray; border-radius: 10px; ">
    <h2 style="font-weight: bold">Luis Carlos Marín Campos</h2>
  </div>
  <div style="color: #5075FF; border: 1px solid gray; border-radius: 10px; ">
    <h2 style="font-weight: bold">Andrés Dario Higuita Perez</h2>
  </div>
  <div style="color: #5075FF; border: 1px solid gray; border-radius: 10px; ">
    <h2 style="font-weight: bold">Mario de Jesús Puentes</h2>
  </div>
</div>
<h2 style="text-align: center; color: #5075FF">Galería</h2>
<div style="display: grid; grid-template-columns: repeat(4,300px)">
  <div><img src="../../assets/gallery/gallery-1.jpg" alt="" style="width: 300px"></div>
  <div><img src="../../assets/gallery/gallery-2.jpg" alt="" style="width: 300px"></div>
  <div><img src="../../assets/gallery/gallery-3.jpg" alt="" style="width: 300px"></div>
  <div><img src="../../assets/gallery/gallery-4.jpg" alt="" style="width: 300px"></div>
  <div><img src="../../assets/gallery/gallery-5.jpg" alt="" style="width: 300px"></div>
  <div><img src="../../assets/gallery/gallery-6.jpg" alt="" style="width: 300px"></div>
  <div><img src="../../assets/gallery/gallery-7.jpg" alt="" style="width: 300px"></div>
  <div><img src="../../assets/gallery/gallery-8.jpg" alt="" style="width: 300px"></div>


</div>
