<form (ngSubmit)="create()">
  <div class="mb-3">
    <label class="form-label">Nombre</label>
    <input type="text" class="form-control" [(ngModel)]="paciente.nombre" name="nombre">
  </div>
  <div class="mb-3">
    <label class="form-label">Tipo Identificación</label>
    <select class="form-select" [(ngModel)]="paciente.tipoIdentificacion" name="tipoIdentificacion" >
      <option>CC</option>
      <option>TI</option>
      <option>CE</option>
      <option>Pasaporte</option>
      <option>Registro Civil</option>
    </select>
  </div>
  <div class="mb-3">
    <label class="form-label">Número de Documento</label>
    <input type="number" class="form-control" [(ngModel)]="paciente.id" name="id">
  </div>
  <div class="mb-3">
    <label class="form-label">Fecha de Nacimiento</label>
    <input type="date" class="form-control" [(ngModel)]="paciente.feNa" name="feNa">
  </div>
  <div class="mb-3">
    <label class="form-label">EPS</label>
    <input type="text" class="form-control" [(ngModel)]="paciente.EPS" name="EPS">
  </div>
  <div class="mb-3">
    <label class="form-label">Número Contácto</label>
    <input type="text" class="form-control" [(ngModel)]="paciente.numeroContacto" name="numeroContacto">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
